In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("HW2.ipynb")

# Homework 2: Lists, Iteration, and Pandas (50 points)

> Late days: see syllabus.

We encourage discussing ideas and brainstorming with your peers, but the final text, code, and comments in this homework assignment MUST be 100% written by you as mentioned in syllabus.

## Before we start... (0 pt)
- Your name:
- Onyen:
- Collaborators:
> "I have listed all collaborators and complied with the UNC Honor Code."


The autograder is useful feedback that you should pay attention to, and the autograder gives additional feedback when you submit to Gradescope, so we encourage you to submit as often as you like!  Note that only the last submission will be used for grading.  Also note that passing the autograder for a public test **DOES NOT GUARANTEE** you will get full credit on the problem. See Piazza post about understanding autograder output on Gradescope, hidden vs. public tests.

Your code should work for any input, for example whether scores = [1, 3, 5] or scores = [3,10,6,2]. Hard-coded answers will get a 0 after manual inspection even if you got full credit from the autograder in Gradescope. It may be considered Honor Code violation as well based on the grader and instructor's discretion.

## Part A — Warm up (15 pts)

### A1 (2 pts): Mirror

**A1.1 (1 pts)** Assign to variable `s_mirror`, `s` concatenated with its reverse. Use **indexing/slicing**. Your code must work for both cases when `s` is a string or a list.

For example, `'abc'` ->  `'abccba'`, or `[1,2,3]`-> `[1,2,3,3,2,1]`.

In [ ]:
s = 'abcd' # try other examples to test, but make sure s = 'abcd' when you save, run & export.
s_mirror = ...
s_mirror

In [ ]:
grader.check("A1.1")

**A1.2 (1 pts)** Assign to variable `s_mirror2`, `s` concatenated with its reverse but without the repeat in the middle. Use **indexing/slicing**. Your code must work for both cases when `s` is a string or a list.

For example, `'abc'` ->  `'abcba'`, or `[1,2,3]`-> `[1,2,3,2,1]`.

In [ ]:
s = [1,2,3,2]  # try other examples to test, but make sure s = [1,2,3,2] when you save, run & export.
s_mirror2 = ...
s_mirror2

In [ ]:
grader.check("A1.2")

### A2 (4 pts): Playing with Lists

**A2.1 (1 pts)** Find and apply the appropriate Python list method to **sort** the elements of the list `scores` from **lowest to highest**: https://www.w3schools.com/python/python_ref_list.asp. 

For example, `[1, 3, 4, 2]` -> `[1, 2, 3, 4]`.

In [ ]:
scores = [50, 60, 80, 10, 20, 30, 40, -10]

# Add your code here by replacing ...
...

scores

In [ ]:
grader.check("A2.1")

**A2.2 (1 pts)** You realize that scores don't go below 0, and that you forgot to include score from one assignment, so you decide to fix this error. Using the appropriate **indexing/slicing** and **list methods**, 

1. Replace -10 with 0, and
2. Add a 90.

This updated list should still be callsed `scores`.

In [ ]:
scores = [-10, 10, 20, 30, 40, 50, 60, 80] # Answer from A2.1 given to you

# Add your code here by replacing ...
...
scores

In [ ]:
grader.check("A2.2")

**A2.3 (1 pts)** Get the **first half** elements of your list using appropriate **indexing/slicing** notation. Assign this to variable `lower_half`. Important note: Your code should work for lists of any length, odd or even.

For example, `[1,2,3,4]` -> `[1,2]`, and `[1,2,3]` -> `[1]`.

**Hint**: How do you get the number of elements in your list? How do you calculate half of that number? Are there any requirements to the indices in indexing or slicing that you can think of?

In [ ]:
scores = [0, 10, 20, 30, 40, 50, 60, 80, 90] # Answer from A2.2 given to you

lower_half = ...
lower_half

In [ ]:
grader.check("A2.3")

**A2.4 (1 pts)** Get the **middle half** elements of your list using appropriate **indexing/slicing** notation. Assign this to variable `middle_half`. 

For example, `[1,2,3,4]` -> `[2,3]`, `[1,2,3,4,5]` -> `[2,3,4]`.

You can always assume that `scores` will have at least 4 elements.

In [ ]:
scores = [0, 10, 20, 30, 40, 50, 60, 80, 90] # Answer from A2.2 given to you

# Add your code here by replacing ...
...

middle_half

In [ ]:
grader.check("A2.4")

### A3 (4 pts): Iteration

**A3.1 (1 pts)** Print the order and the fruit in the format 

```Python
1 apple
2 banana
```
and so on.

Note that we are starting from 1, not 0. 

You must use a **for loop** with **enumerate**. Your code should work as expected even if the list is modified.

In [ ]:
fruits = ["apple", "banana", "orange", "peach", "grape", "lychee", "dragonfruit"]

# Your code here

**A3.2 (1 pts)** Given a list of exam scores, **count how many are strictly greater than 90** and assign it to variable `num_high_scores`. 

You must use a **for-loop** and an **if statement**; otherwise you will get a 0 regardless of autograder scores. Your code should work as expected even if the list is modified.

In [ ]:
scores = [88, 91, 95, 72, 90, 100, 67]

# Add your code here by replacing ...

...

num_high_scores

In [ ]:
grader.check("A3.2")

**A3.3 (1 pts)** Count the **total number of vowels** in this text and assign it to variable `num_vowels`. You must use a **for-loop** and an **if** statement, *no* string methods. For this problem, vowels are a,e,i,o,u.

Test your code with different `text`s to make sure your code works as expected, but make sure to change it back when you save, run & export.

In [ ]:
text = 'The University of North Carolina at Chapel Hill is a public research university in Chapel Hill, North Carolina, \
United States. Chartered in 1789, the university first began enrolling students in 1795, leading to its claim to be the oldest \
public university in the United States.' # First two sentences from UNC's Wikipedia page.

# Add your code here by replacing ...
...
num_vowels

In [ ]:
grader.check("A3.3")

### A4 (5 pts): Counting Words

**A4.1 (1 pts)** Follow these preparation steps using the appropriate **string methods**: https://www.w3schools.com/python/python_ref_string.asp. 
1. Turn text into all lower case. For example, `'Yes! Hello, thank you.'` -> `'yes! hello, thank you.'`
3. Turn text into a list of words based on whitespace. For example, `'yes! hello, thank you.'` -> `['yes!', 'hello,',  'thank',  'you.']`

Your final variable should be named `text_list`, which is a list of strings.

In [ ]:
text = 'The University of North Carolina at Chapel Hill is a public research university in Chapel Hill, North Carolina, \
United States. Chartered in 1789, the university first began enrolling students in 1795, leading to its claim to be the oldest \
public university in the United States.' 

# Add your code here by replacing ...
...
text_list[10:20]

**A4.2 (2pts)** Using the appropriate **string methods**, **for loop** and an **if statement**, remove these punctuations ``#$%&()*+,-./:;<=>@[]^_`{|}~`` from the *ends* of each word in `text_list`. 

For example, `['yes!', 'hello,',  'thank',  'you.']` ->`['yes', 'hello',  'thank',  'you']`. 

No need to consider cases where there may be a punctuation in the middle of the word, e.g. email addresses.

Your final variable should be named `clean_text`, which is a list of strings.

In [ ]:
# Add your code here by replacing ...
...
clean_text[10:20]

**A4.3 (1 pts)** What are the benefits of processing strings this way before further analysis? What are some potential shortcomings that these steps haven't addressed? Name at least one each.

[Your answer here]

**A4.4 (2 pts)**
Using the transformed string from earlier question,
 
1. Count the total number of times the word "university" and "hill" appear by writing the appropriate Python code. Choose your own descriptive variable names.
5. Print those two numbers in the following format. For example, if 'university' appears 10 times and 'hill' appears 20 times, your printed message should look like `'university appears 10 times and hill appears 20 times.'`
6. Print the total number of words in this text by calling an appropriate Python built-in function (do this outside of the for loop). It should be a very simple one line of code.

In [ ]:
# Your code here

## Part B — Counting Words Applied (14 pts)

Let's try some real data analysis! You'll be surprised at how much you can do already after a few weeks of class. We're going to investigate the authorship of the Federalist Papers:

    The Federalist Papers is a collection of 85 articles and essays written by Alexander Hamilton, James Madison, and John Jay under the collective pseudonym "Publius" to promote the ratification of the Constitution of the United States. 

Source: https://en.wikipedia.org/wiki/The_Federalist_Papers.

    Unfortunately, the Publius moniker proved to be a problem when, years later, questions surfaced about who actually wrote each paper. Seventy-three were allotted to Madison and Hamilton without much controversy, and everyone seemed to agree that John Jay had only written five.

    But that left twelve unclaimed.

Source: https://priceonomics.com/how-statistics-solved-a-175-year-old-mystery-about/

This led to a very interesting *text forensics* project by statisticians in 1959. You don't need to read this article to solve this homework question, but it is a really fun read. My favorite was reading about how they analyzed word counts by printing out the articles, cutting them out on paper, then hand counting (!!). Consider yourselves lucky that you're taking this class with 2025 computers, not 1959...

Anyway, these statisticians found that one of the authors use the word "upon" a lot more frequently than the others. Our goal today is to see this for ourselves.

### B0 (0 pts): Getting data

First step, I've written code for you that downloads the Federalist Papers text files from the internet. You don't need to understand this code, you just need to run it.

In [ ]:
# No need to understand. Just run it.

import re
import requests

url = "https://www.gutenberg.org/cache/epub/1404/pg1404.txt"
text = requests.get(url).text

r = re.compile(
    r"^(To the People of the State of New York.*?)(?=^PUBLIUS|^FEDERALIST)", flags=re.M | re.S
)

for i, section in enumerate(r.findall(text), 1):
    with open(f"{i}.txt", "w") as f_out:
        f_out.write(section) # write to files

Run this next cell to check out one of the files. Change `num` to any number between 1 and 85 to investigate. No need to memorize syntax or understand the intricacies of with + file i/o, but you should get some sense of what's going on.

In [ ]:
num = 50 # Federalist Paper No.

with open(f"{num}.txt", "r") as f:  # open this file
    text = f.read() # read the file content and save it to a variable

text[:200] # Check out the first 200 characters of the text

### B1 (1 pts): List + Range

Here's what we know about the authorship:

- Hamilton definitely wrote 51: Nos. 1, 6–9, 11–13, 15–17, 21–36, 59–61, and 65–85
- Madison definitely wrote 17: Nos. 10, 14, 18–20, 37–48
- John Jay wrote 5: Nos. 2–5 and 64
- Under dispute between Hamilton and Madison: Nos. 49–58 and 62–63

Using a combination of **range** and **list**, assign `hamilton_nos` and `madison_nos` to corresponding lists of ints. Make sure every element of your lists is an `int`, and none of them are a `range`.

In [ ]:
hamilton_nos = ...

madison_nos = ...

print('Hamilton:', hamilton_nos)
print()
print('Madison:', madison_nos)

### B2 (3 pts): Counting Upons

Now, we will count how many times the word `upon` appears in Hamilton's papers. 

I'll give you a head start.

```Python
import pandas as pd

counts = ...

for i in hamilton_nos:
    with open(f"{i}.txt", "r") as f:
        text = f.read()

    # Add code at this level of indentation
    # 1. Turn text into lower case
    # 2. Turn text into list of words
    # 3. Count 'upon'
    # 4. Update variable counts


hamilton = pd.DataFrame(counts, columns=['Upon', 'Word count'], index=hamilton_nos)
hamilton # You're welcome to comment this line out after looking at it, or add more cells to inspect the table further.
```

Your goal is to add code in the two places I pointed out to generate a variable named `counts`.

- `counts` is a **list of lists**.
- Each element of `counts` is a **list of ints**, which has the format of **[word count of upon in the text, total word count of the text]**.
- The provided code at the end turns `counts` into a Pandas DataFrame with appropriate column and row labels after the for loop.

For example, let's say Hamilton only wrote two papers. The first one has 10 words, 1 of which is 'upon'. The second one has 15 words, 2 of which are 'upon'. Then, list of lists `counts` should look like the following:

```Python
[
    [1, 10],
    [2, 15]
]
```
And `hamilton` table should look like:

```Python
	Upon	Word count
1	1	10
2	2	15

```

This problem directly builds upon **A4**!! Do **not** worry about punctuations for this problem.

In [ ]:
import pandas as pd

counts = ...

for i in hamilton_nos:
    with open(f"{i}.txt", "r") as f:
        text = f.read()
    
    # Add code at this level of indentation replacing ...
    # 1. Turn text into lower case
    # 2. Turn text into list of words
    # 3. Count 'upon'
    # 4. Update variable counts
    
    ...
    
hamilton = pd.DataFrame(counts, columns=['Upon', 'Word count'], index=hamilton_nos)
#hamilton

In [ ]:
grader.check("B2")

### B3 (2 pts): Repeat with Madison

Copy your code from B2, then think about which edits you need to make. Your final Pandas DataFrame should be named `madison`.

In [ ]:
import pandas as pd

# Add code here replacing ...

...

In [ ]:
grader.check("B3")

What is the biggest difference you observe between hamilton and madison tables?

[Write your answer here]

### B4 (2 pts): Frequency columns
 
In both tables, add new columns called `Freq`, which calculates their use of the word "upon" per 1000 words, rounded to hundredth place.

In [ ]:
# Add code here replacing ...

...

In [ ]:
grader.check("B4")

What purpose does these new frequency columns serve?

[Write your answer here]

### B5 (2 pts): Mystery papers

Based on what you've done for Hamilton and Madison papers, repeat the analysis on the 12 disputed papers. You should generate a new table called `mystery` that has the same format as the other two tables, including `Freq` column.

In [ ]:
# Add code here replacing ...

...

Based on this information (and this information alone!), who do you think wrote these Mystery papers? Why (1~2 sentences)?

[Write your answer here]

### B6 (2 pts): Cancatenation

1. For all three of your tables, add a new column called `Author` that contains authorship information: Hamilton or Madison. For Mystery, name it "Mystery" instead of your guess.
2. Assign a variable `tables` to a list of the three tables, in any order.
3. Run the code `papers = pd.concat(tables)` and observe `papers`.

In [ ]:
# Add code here replacing ...

...
papers = pd.concat(tables)
papers

In [ ]:
grader.check("B6")

What did the code `papers = pd.concat(tables)` do? Why do you think we can put in the three tables in any order? Is this always true?

[Write your answer here]

### B7 (2 pts): Investigation

Using the DataFrame methods you've learned in class, investigate aspects of this table in at least two different ways using sorting, counting, or groupby. Then, write 2~3 sentences about your observations as it relates to authorship of these papers.

In [ ]:
# Write your code here

In [ ]:
# Write your code here

[Write your answers here]

## Part C — R.O.U.S.es (9 pts)
**R**odents **O**f **U**nusual **S**ize are fabled to be one of the most fearsome creatures you might ever encounter, but accounts of their attributes vary widely.

### C1 (1 pts): Load table

Run the following code to load a table of all known data about R.O.U.S.es. How many attributes or different pieces of information have been measured for R.O.U.S.es?  Assign that number to `num_attributes`.

In [ ]:
import pandas as pd
rodents_of_unusual_size = pd.read_csv("ROUSes.csv")
rodents_of_unusual_size

In [ ]:
# write your code here by replacing the "..." with your solution

...
num_attributes

### C2 (1 pts): Boolean Indexing + Counting

Write pandas code to compute the number of R.O.U.S.es in the table that are not Female.  Assign that number to `num_not_female`.

In [ ]:
# write your code here by replacing the "..." with your solution
...
num_not_female

### C3 (1 pts): Combining Conditions for Boolean Indexing

Write pandas code to compute the number of R.O.U.S.es that are of either 'Sleepy' or 'Playful' temperament.  Assign that number to `num_harmless`.

In [ ]:
...
num_harmless

### C4 (2 pts): Boolean Indexing + Aggregation

Write pandas code to compute the total weight of R.O.U.S.es that are moody and female and over the age of 11.  Assign that number to `total_weight`.

In [ ]:
...
total_weight

### C5 (2 pts): Sorting

Sometimes sorting or grouping the data by an attribute can help to make sense of the data.  Write pandas code to sort the data by `Age`. No need to save or assign the modified table to a variable.  This question will be manually graded.

In [ ]:
# Write your code here

With the data sorted by age, what trends do you see in the `Temperament`?  Are there any exceptions to the trends? No need to calculate anything.

_Type your answer here, replacing this text._

### C6 (2 pts): Groupby

Some people report that real danger from R.O.U.S.es is that they are very uncoordinated and sometimes trip and fall onto people, so `Weight` is actually the attribute which represents the biggest threat. Calculate the mean weight for each temperament. This question will be manually graded.

Hint: this is just like a problem we covered in lecture.

In [ ]:
# Write your code here

What temperament on average would be the most dangerous to encounter?  What temperament on average would be the least dangerous to encounter?

_Type your answer here, replacing this text._

## Part D — Burritos (12 pts).
A certain Carolina student from DATA110 is visiting California for Spring Break this year, and they intend to use their newly-mastered Data Science skills to make sure they have some great burritos while they are there.  And the rest of the DATA110 students get this delightful homework problem out of the experience!  The student found some data files with reviews and menu information for some California burrito restauraunts, but unfortunately the data was not nearly as clean as most of what they had dealt with in class, so they had to do some work on the data first.

### D1 (1 pts): Loading table

Write the code to load the file "burrito_ratings.csv" into a DataFrame named `burritos`.

In [ ]:
import pandas as pd
pd.options.display.max_colwidth=15

burritos = ...

burritos

In [ ]:
grader.check("D1")

### D2 (1 pts): Mean Cost

Write code to calculate average cost of items in the table `burritos` **rounded to the nearest cent**.

In [ ]:
average_cost = ...
average_cost

### D3 (2 pts): Top Rated Burritos

Make a new table called `top_rated_burritos` that is just like `burritos` but only includes entries that have an Overall rating >= 4.2.

In [ ]:
# Write your code here, replacing ...

...
top_rated_burritos

### D4 (1 pts): Mean Cost of Top Rated Burritos

Write pandas code to compute the average cost of menu item entries that have a Overall rating >= 4.2, again rounded to the nearest cent.

In [ ]:
# Write your code here, replacing ...

...

average_cost_top_rated

### D5 (2 pts): Top Rated Asada

In [ ]:
# run this cell

print(round(average_cost_top_rated-average_cost,2))

Only 60 cents more for a great burrito instead of an average one...count me in!  But then the student realized, not all the items are the kind of burrito that they like, or even burritos at all!  In particular, the student likes Asada-style burritos, which just have a menu item name containing the word `Asada` (with capital A).  To make sure there are enough choices, the student also decides to lower their standards a little on the rating requirement.  Write code to calculate how many Asada burrito options there are that have a Overall rating > 3.6, and assign this to a variable named `type_rated_Asada_count`

**Hint**: You'll need to figure out how to check if a particular word is in a string (there are several ways to do this). Take a look at [https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html) for one such way.

**Hint**: Your answer does not have to be in a single line of code. In fact, it is better to write multiple lines of code with clear logic rather than to come up with a "clever one-liner" that is difficult to understand.

In [ ]:
# Write your code here, replacing ...

...

top_rated_Asada_count

### D6 (1 pts): Drop Columns

Now, feeling confident in their analysis, the student feels they are armed with the knowledge they will need to have a great burrito experience.  But when their DATA110 professor finds out about what they've been working on, the professor asks them to clean up the data even more so it can be used for future DATA110 classes.  First, they ask the student to use a pandas function to make a new table `burritos_compact` that has the attributes for Google and Yelp scores removed.  Write the code below.

In [ ]:
burritos_compact = ...
burritos_compact

### D7 (2 pts): Adding Columns

And finally, the professor asks the student to add one extra attribute to `burritos_compact`.  The attribute should be named `'Value'` which is 100.0 times the Overall rating divided by the item cost, rounded to the nearest integer.  Write the code for `burritos_extravalue` below.

In [ ]:
# Write your code here, replacing ...

...
burritos_compact

### D8 (2 pts): Highest Value Item

What is the name of the menu item with the highest value?  Credit will only be given for an exact match.

In [ ]:
# Add your code here, replacing ...
...
highest_value_item

Run this last cell to delete all your txt files in the folder.

In [ ]:
!rm *.txt

## Submission to Gradescope

### Step 1 – Run All Cells and Save
- My favorite thing to do in Jupyter Notebook is to click the ⏩️ button on the toolbar. This refreshes the memory, then runs all cells in order.
- Then, click **File → Save Notebook** to make sure your notebook file (`.ipynb`) is up to date. Or run `command (or control) + s`.

### Step 2 – Export to PDF
  1. Choose **File → Print**.
  2. In your browser’s print dialog, change the **Destination** to “Save as PDF.”
  3. Click **Save** and name the file clearly (e.g., `lab1.pdf`).

### Step 3 - Run the Last Cell
1. Run the last cell (below)
2. Download the zip file to your computer.

### Step 4 – Submit to Gradescope
- Log into **Gradescope** and open the assignment. You can get there from Canvas assignment as well.
- Upload **both files** by highlighting both items and draggin and dropping them to the submission box:
  1. Your **`.zip` file** (generated by otter).
  2. Your **`.pdf` file** (exported from the notebook).
- Make sure your submission is **complete and readable** before clicking submit.

### Step 5 – Confirm Your Submission
- After submitting, check Gradescope’s preview to ensure your files display properly.
- If anything is missing or unreadable, re-export and resubmit before the deadline.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Submit zip file and PDF to Gradescope HW2

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)